{
  "extends": [ "wesbos/typescript" ],
  "rules": {
    "no-console": 2,
    "react/prop-types": [ 2, { "ignore": [ "children" ] } ],
    "import/no-cycle": [ 0, { "maxDepth": 1 } ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 4
      }
    ]
  }
}
